.heading {
  background-color: rgb(73, 113, 178);
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.content{
  background-color: rgb(163, 186, 224);
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 10px;
}

body {
  margin: 0px;
  font-family: 'Krona One', sans-serif;
}
